<h1>Welcome!</h1>
<div id="links" style="background-color:#FFA500";text-color:green align="center">
<%= link_to("HOME", {:controller => 'student', :action => 'menu_student'} )%> |

<%= link_to("Student List", {:controller => 'student', :action => 'home_student'} )%>
</div>
<div width="10">
<%= image_tag('Student.jpg') %>
</div>
